header{
  background-image: url(../image/header.jpg);
  background-size: cover;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center
}
h1{
  font: arial,sans-serif;
  font-size: 20em;
}
